<!DOCTYPE html>
<html>
<head>
<title>Home </title>
</head>
<body>

<p>
  AUAGHGAUWGHGAHG
  <br>
Wow, a lot of protein, sir
  <br>
Let's go to the gym, buddy!
  
Let's go to the gym, buddy!
  
Let's go to the gym, buddy!
  
Unless they will know my power
  <br>
I need more bullets!
I need more bullets!
I need more bullets!
I need more bullets!
  <br>
Bigger weapons!
Bigger weapons!
Bigger weapons!
  <br>
I need more bullets!
I need more bullets!
  <br>
AUAGHGAUWGHGAHG
  <br>
Wow, thanks for the protein, sir
  <br>
Watch me ride that horse, sir
  <br>
Hasta la Vista, Baby!
Hasta la Vista, Baby!
Hasta la Vista, Baby!
Hasta la Vista, Baby!
Hasta la Vista, Baby!
  <br>
Now that is a weapon!
  <br>
DRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR
  <br>
Now that is a weapon!
  <br>
DRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR
</p>

</body>
</html>